.text-transform-uppercase{
    text-transform: uppercase;
  }

.item-lista h2{
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
}

.item-lista h3, h4, h5,h6{
    font-weight: 600;
    margin: 0;
}

.item-lista img{
    margin-right: .5rem;
}