<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/veiculos"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar veículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Placa <ion-text color="danger">*</ion-text></ion-label>
    <ion-input  type="text" [(ngModel)]= "veiculo.placa" class="text-transform-uppercase"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Cor <ion-text color="danger">*</ion-text></ion-label>
    <ion-select [(ngModel)] ="veiculo.cor">
      <ion-select-option value="Azul">Azul</ion-select-option>
      <ion-select-option value="Amarelo">Amarelo</ion-select-option>
      <ion-select-option value="Branco">Branco</ion-select-option>
      <ion-select-option value="Cinza">Cinza</ion-select-option>
      <ion-select-option value="Marrom">Marrom</ion-select-option>
      <ion-select-option value="Prata">Prata</ion-select-option>
      <ion-select-option value="Preto">Preto</ion-select-option>
      <ion-select-option value="Vermelho">Vermelho</ion-select-option>
      <ion-select-option value="Verde">Verde</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Marca <ion-text color="danger">*</ion-text></ion-label><!--carrega as marcas-->
    <ion-select [(ngModel)] ="marcaId" (ionChange)="carregarModelos()">
      <ion-select-option *ngFor="let marca of marcas" [value]="marca.id">{{marca.nome}}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-label>Modelo <ion-text color="danger">*</ion-text></ion-label>
    <ion-select [(ngModel)] ="modeloId">
      <ion-select-option *ngFor="let modelo of modelosDaMarca" [value]="modelo.id">{{modelo.nome}}</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-button (click)="atualizarVeiculo()" class="botao-salvar ion-margin" size="large" shape ="round" expand="block" color="secondary">
    Salvar Alterações
  </ion-button>

  <ion-button (click)="removerVeiculo()"expand="block" fill="clear" shape="round">
    Excluir veículo
  </ion-button>
</ion-content>
