#map {
    height: 50%;
  }

  .cads{
    background-color: aqua;
    border-radius: 15px;
    color:black;
    font-weight: 700;
  }

  .botao-salvar{
    font-size: 18px;
    margin: 1rem 0;
    font-weight: 500;
  }