
.botao-adicionar{
    margin: 2rem 0;
}

.item-lista h2{
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
}

.item-lista h3, h5{
    font-weight: 600;
    margin: 0;
}

.item-lista img{
    margin-right: .5rem;
}