
.botao-adicionar{
    margin: 2rem 0;
}

.item-lista h2{
    font-weight: 600;
    text-transform: uppercase;
    
}

.item-lista h3, h5{
    font-weight: 600;
    margin: 0;
}

.item-lista img{
    margin-right: .5rem;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
  }
  